.nav {
    grid-area: nav;
    background-color: green;
}

.item a {
    text-decoration: none;
    color: #fff;
}

.item a.active {
    color: gold;
}

.friendsList {
    display: flex;
}

.friend img {
    width: 60px;
    height: 60px;
    border-radius: 10em;
}

.friend span {
    text-align: center;
}