.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: white;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems {
  padding: 10px;
}

.dialog a {
  text-decoration: none;
  color: white;
}

.dialog a.active {
  color: gold;
}

.messages {

}

.messages .message {

}